input{
display: none;
}

label{
	margin-top: 100px;
	background-color: #cbe558;
	border: 1.5px solid black;
	width: 30px;
	height: 30px;
	display: block;
	background-size: contain;
	border-radius: 15px;
	box-sizing: border-box;
}

input:checked + label{
	background-image: url(ch.png);
	border: none;
}