.wrapper {
	max-width: 1200px;
	margin: auto;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 14pt;
}

header {
	background-color: #64cacb;
	height: 70px;
}

nav {
	background-color: #fb9693;
	height: 40px;
}

.menu {
	background-color: #97cd9c;
	width: 200px;
	height: 500px;
	float: left;
}

.content {
	background-color: #cbd0d5;
	height: 500px;
}

footer {
	background-color: #0466fc;
	height: 50px;
}